.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
.npmignore

# python
__pycache__
flow_backend/Media/*

redis
.gitignore
flow_frontend/flow
flow_frontend/dist